# build artifacts
build/
cmake-build-*/

# python bindings
*.so
*.pyd
*.dll
__pycache__/
*.pyc
*.pyo

# jupyter notebook checkpoints
.ipynb_checkpoints/

# Os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# cpp compilation
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.dylib
*.exe
*.out
*.app